{% load static %}
<nav class="sidebar">
    <h1 class="sidebar__title">Menu</h1>
    <ul class="sidebar__list">
        <li class="sidebar__list__item"><a href="#" class="sidebar__list__item__link">Home</a></li>
        <li class="sidebar__list__item"><a href="/registration" class="sidebar__list__item__link">Registration</a></li>
        <li class="sidebar__list__item"><a href="#" class="sidebar__list__item__link">Services</a></li>
        <li class="sidebar__list__item"><a href="/admin" class="sidebar__list__item__link">Admin</a></li>
    </ul>
</nav>