@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');

:root {
    --background-color: #ffffff;
    --sidebar-color: #e4e4e4;
    --titles-font: 'Moul', sans-serif;
    --titles-sidebar-font: 'Montserrat', sans-serif;
    --topbar-color: #e4e4e4;

    --gray-title-text: #707070;
    --gray-sidebar: #ECECEC;

}

body {
    background-color: var(--background-color);
}

.header__title {
    /* background-color: var(--topbar-color); */
    padding: 0;
    margin-top: 3em;
    height: 80px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0 200px 0 230px;
}

.header__logo {
    width: 5%;
    /* margin-top: 2em; */
    
}

.header__title__text {
    font-size: 40px; 
    font-weight: bold; 
    color: var(--gray-title-text);
    padding-left: 10px;
    text-align: center;
    font-family: var(--titles-font);

}


.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--gray-sidebar);
    flex: 0 0 20%;
}

.sidebar__title {
    color: var(--gray-title-text);
    font-size: 24px;
    font-weight: bold;
    font-family: var(--titles-font);
    margin-bottom: 2em;
    margin-top: 4em;
}

.sidebar__list {
    display: flex;
    list-style-type: none;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.sidebar__list__item {
    padding: 0 0 3em 0;
    font-family: var(--titles-sidebar-font);
    font-size: 18px;
    font-weight: bold;
}
  
.sidebar__list__item__link {
    color: var(--gray-title-text);
    text-decoration: none;
}

.task__container {
    color: rgb(107, 107, 107);
    margin-top: 50px;
    padding-left: 15em;
}

/* .task__list {
    font-family: var(--main-font);
} */

.task__list__item {
    font-weight: 100;
    padding: 0.5em;
}