:root {
    --background-color: #ffffff;
    --sidebar-color: #e4e4e4;
    --main-font: 'Cooper', sans-serif;
    --topbar-color: #e4e4e4;
}

body {
    background-color: var(--background-color);
}

.header__title {
    /* background-color: var(--topbar-color); */
    padding: 0;
    margin-top: 0px;
    height: 80px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.header__logo {
    width: 5%;
    /* margin-top: 2em; */
    
}

.header__title__text {
    font-size: 36px; 
    font-weight: bold; 
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0px;
    text-shadow: 2px 2px 4px rgba(109, 109, 109, 0.2);
    font-family: var(--main-font);
}


.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--sidebar-color);
    padding-top: 50px;
    flex: 0 0 20%;
}

.sidebar__title {
    color: #120d55;
    font-size: 24px;
    font-weight: bold;
    font-family: var(--main-font);
    padding: 0 0 0 2.7em;
    margin-bottom: 2em;
    margin-top: 0;
}

.sidebar__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.sidebar__list__item {
    padding: 10px;
    font-family: var(--main-font);
}
  
.sidebar__list__item__link {
    color: #120d55;
    text-decoration: none;
}

.task__container {
    color: rgb(107, 107, 107);
    margin-top: 50px;
    padding-left: 15em;
}

/* .task__list {
    font-family: var(--main-font);
} */

.task__list__item {
    font-weight: 100;
    padding: 0.5em;
}