{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<!-- ADMIN CONTENT -->


<div class="horizontal__line"></div>
<div class="content__buttons__registration">
    
    <!-- BUTTONS -->
    <div class="buttons__left">
        <button class="btn__select" id="btn__select__id">Select Id<img src="{% static '\app\img\select-arrow-down.png' %}" alt="Arrow Down" class="btn__select__arrow__down"></button>
        <button class="btn__select" id="btn__select__task">Select Task<img src="{% static '\app\img\select-arrow-down.png' %}" alt="Arrow Down" class="btn__select__arrow__down"></button>
        <button class="btn__select" id="btn__select__status">Select Status<img src="{% static '\app\img\select-arrow-down.png' %}" alt="Arrow Down" class="btn__select__arrow__down"></button>
    </div>

    <div class="buttons__right">
        <button class="btn__search" id="btn__search__task">Search</button>
        <button class="btn__new" id="btn__new__task">New Task</button>
        <button class="btn__delete" id="btn__delete__task">Delete Task</button>
    </div>

</div>
    
<!-- TABLE -->

<div class="tasks__list">

    <div class="task__rectangle">
        <table class="tasks__list__table">
            <thead class="tasks__list__table__head">
                <tr class="tasks__list__table__head__row">
                    {% for field in fields %}
                    <th class="tasks__list__table__head__row__item">{{ field }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="tasks__list__table__body">
                <!-- JUST AN EXEMPLE BEFORE POPULATING DATABASE -->
                {% for i in "12345" %}
                <tr class="tasks__list__table__body__item">
                    <td class="tasks__list__table__body__item__id">1</td>
                    <td class="tasks__list__table__body__item__task">Start project with Django as framework</td>
                    <td class="tasks__list__table__body__item__status">Completed</td>
                    <td class="tasks__list__table__body__item__steps">5</td>
                    <td class="tasks__list__table__body__item__select"><input type="checkbox" class="selection_checkbox"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}