{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<!-- ADMIN CONTENT -->
{% include 'buttons_crud.html' %}
<!-- TABLE -->

<div class="tasks__list">

    <div class="task__rectangle">
        <table class="tasks__list__table">
            <thead class="tasks__list__table__head">
                <tr class="tasks__list__table__head__row">
                    {% for field in fields %}
                    <th class="tasks__list__table__head__row__item">{{ field }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="tasks__list__table__body">
                <!-- JUST AN EXEMPLE BEFORE POPULATING DATABASE -->
                {% for task in tasks %}
                <tr class="tasks__list__table__body__item">
                    <td class="tasks__list__table__body__item__id"> {{ task.id }} </td>
                    <td class="tasks__list__table__body__item__task">{{ task.name }}</td>
                    <td class="tasks__list__table__body__item__status">{{ task.status }}</td>
                    <td class="tasks__list__table__body__item__steps">5 <button class="tasks__list__table__body__item__steps__addstep" id="tasks__list__table__body__item__steps__addstep__id">+</button></td>
                    <td class="tasks__list__table__body__item__select"><input type="checkbox" id="select__for__delete" class="selection_checkbox"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'popup_steps.html' %}
{% include 'popup_task.html' %}

<script src="{% static '/scripts/showform.js' %}"></script>
<script src="{% static '/scripts/newtask.js' %}"></script>
<script src="{% static '/scripts/popup__newstep.js' %}"></script>
{% endblock %}